@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth; 
}
.sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.Containernavbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: white;
}
.navbar{
  width: 50%;
  
}
.navbar p{
    font-size: 20px;
    padding: 3%;
}
.navbarpc{
  display: none;
  position: sticky;
}
#ChosenOne{
  width: 30%;
}
.navPC a{
  text-decoration: none;
  color:#555555;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 2%;
}
.Menubarcontainer{
  width: 50%;
  position: sticky;
}
.Menubar{
   float: right;
   padding-right: 8%;
   padding-top: 6%;
} 

.ConatinerCouresal{
    width: 100%;
}
.Couresal{
    width:100%;
    height: 75vh;
    background-image: url(assets/HexPortfolioBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Couresal h1{
 padding-top: 20%;
 font-family: "Bungee", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 23px;

}
.Couresal h1 span{
    color: rgb(255, 255, 255);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;

}
.Couresal p{
    color: rgb(207, 207, 207);
    padding-top: 2%;
    height: 8vh;
}
#cv{

  background-image: linear-gradient(-180deg, #3765e2 0%, #1e62c8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 40%;
  border: 0;
  cursor: pointer;
  display: block; /* Makes the button a block element */
     margin: 0 auto; /* Centers horizontally */
}
.Containerimage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:13%;
}
.image{
    width: 100%;
}
#leader{
    width: 100%;
}

.ContainerAbout{
    width: 100%;
}
.About{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#aboutimg{
    width: 70%;
}
.aboutmetext{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.aboutmetext h1{
    color: #1e62c8;
    font-family: "Bungee", serif;
    font-size: 23px;
}
.aboutmetext p{
  width: 80%;
  color: grey;
  padding-top: 2%;
  font-size: 13px;
}

.boxesContainer{
    width: 89%;
    flex-direction: row;
     display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4%;
   }
   .Boxes{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:16%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 9px;
    margin: 3%;
   }
   .Boxes p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
     
   #angular{
       width: 100%;
   }
   #node{
       width: 60%;
      }
.Projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Projects h1{
    color:#1e62c8;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 23px;
    font-style: normal;
    padding-top: 7%;
}
.Projects p{
  color: grey;
  padding-top: 2%;
  width: 80%;

  font-size: 13px;
}
      .Container2{
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 243, 243);
        width: 100%; 
        background-repeat: no-repeat;
        background-size: cover; 
        text-align: center;
        align-items: center;
        padding-top: 2%;
      }
      .content1{
      width: 60%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      
      margin: 3%; 
      padding-bottom: 5%;
      }
      #content1img{
      width:90%;
      
      }
      .content1 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-style: 15px;
      }
      .content1 p {
        color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      padding-top: 2%;
      }
      
      .content2{
      width: 60%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      
      padding-bottom: 5%;
      margin: 3%; 
      }
      #content2img{
        width:90%;
        
      }
      .content2 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
       font-style: normal;
       font-style: 15px;
      }
      .content2 p{
        color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      font-size: 10px;
      padding-top: 2%;
      }
      
      .content3{
      width: 60%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      
      padding-bottom: 5%;
      margin: 3%; 
      }
      #content3img{
        width:90%;
        
      
      }
      .content3 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-style: 15px;
      
      }
      .content3 p {
        color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      padding-top: 2%;
      }
      .Container3{
      display: flex;
        flex-direction: column;

        background-repeat: no-repeat;
        background-size: cover; 
        text-align: center;
        align-items: center;
        padding-top: 2%;
      }
      
      .content4{
        width: 60%;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
        
        padding-bottom: 5%;
        margin: 3%;
      }
      #content4img{
        width:90%;
        
      }
      .content4 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-style: 15px;
      }
      .content4 p{
        color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      padding-top: 2%;
      }
      .content5{
        width: 60%;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
        
        padding-bottom: 5%;
        margin: 3%;
      }
      #content5img{
        width:90%;
        
      }
      .content5 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-style: 15px;
      }
      .content5 p{
        color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      padding-top: 2%;
      }
      .content6{
        width: 60%;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
        
        padding-bottom: 5%;
        margin: 3%;
      }
      #content6img{
        width:90%;
        
      }
      .content6 h3{
        padding-top: 2%;
        color: rgb(119, 119, 119);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-style: 15px;
      }
      .content6 p{
  color: rgb(168, 166, 166);
      font-family: "Alegreya Sans SC", sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 10px;
      padding-top: 2%;
      }

      .ContainerContacticons{
        margin-top: 4%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .iconsPhone{
        width:40%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1e62c8;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 16vh;
        border-top-left-radius:  9px;
        border-top-right-radius:  9px;
      }
      .fas{
        font-size: 40px;
        color: white;
      }
  
      .iconsPhone p{
        padding-top: 6%;
        color: white;
      }
      .iconsEmail{
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width:40%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 16vh;
        border-bottom-left-radius:  9px;
        border-bottom-right-radius:  9px;
      }
      .iconsEmail p{
        font-size: 10px;
        color: #818181;
      }
      #contact{
        display: none;
      }
  .Contact{
    width: 100%;
    padding-left: 10%;
    
  }
      input[type=text], select, textarea {
        width: 100%;
        display: flex;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        border-radius: 9px;
      }
      
      input[type=submit] {
        background-color: #1e62c8;
        color: rgb(255, 255, 255);
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        border-radius: 9px;
        width: 30%;
      }
      
      input[type=submit]:hover {
        background-color: #0059ff;
      }
      

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
      }
      .row{
        width:100%;
        background-image: url(assets/contactbg.png);
        background-repeat: no-repeat;
        background-size: cover;
      
    }

      .column {
        width: 90%;
        margin-top: 6px;
        padding: 20px;
        border-radius: 9px;
      }
      

      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .ContainerFooter{
        width:100%;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .ContainerFooter p{
        padding-top: 5%;
        color: #ffffff;
        font-family: "Alegreya Sans SC", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 10px;
      
      }
      #logoFooterimg{
        width: 10%;
      }
      
      
@media screen and (min-width: 1024px){
    .ContainerAboutimg{
         display: flex;
    }
    #ChosenOne{
      width: 40%;
      padding-left: 24%;
    }
    .navbar p{
        font-size: 20px;
        padding-left: 28%;

    }
    .Couresal{
   height: 90vh;

    }
    .navbar{ 
      width: 50%;
    }
    .Menubarcontainer{
      width: 0%;
    }
    .navbarpc{
      width: 100%;
      display: flex;
  
    }
 
    
    .navPC{
      padding-top:3%;
      width: 100%;
      text-align: center;
      justify-content: space-between;
    }

     .Menubar{
      display: none;
  }
  .Couresal{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Couresal h1{
    padding-top: 0%;
    font-size: 45px;
    padding-left: 15%;
    text-wrap: nowrap;
   }
   .Couresal h1 span{
font-size: 45px;
   }
   .Couresal p{
    color: rgb(207, 207, 207);
    width:100%;
    padding-left: 12%;
}
#cv{
    width: 30%;
}
.Containerimage{
    width: 60%;
    padding-left: 12%;
    
}
  #leader{
    width: 100%;
    padding-top: 5%;
}
.About{
   display: flex;
   flex-direction: row;
}
#aboutimg{
    width: 40%;
}
.aboutmetext{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.aboutmetext h1{
  font-size: 36px;
  padding-right: 42%;
}
.aboutmetext p{
  padding-top: 0px;
    width: 70%;
    font-size: 17px;
}
.Skill p{
  padding-left: 15%;
}
.Projects h1{
    font-size: 35px;
    padding-top: 4%;
}
.Projects p{
  padding-top: 0%;
  font-size: 20px;
}
.Container2{
  margin-top: 2%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
.content1{
    width: 20%;
    padding-bottom: 2%;
  }
  .content2{
     width: 20%;
     padding-bottom: 2%;
  }
  .content3{
     width: 20%;
    padding-bottom: 2%;
  }
  .content4{
     width: 20%;
     padding-bottom: 2%;
  }  
  .content5{
    width: 20%;
    padding-bottom: 2%;
 } 
 .content6{
  width: 20%;
  padding-bottom: 2%;
} 
.ContainerContacticons{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.iconsPhone{
  width:20%;
  height: 20vh;
  border-top-left-radius: 9px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 9px;
  
}
.iconsEmail{
  width:20%;
  height: 20vh;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 9px;
}
.iconsEmail p{
  font-size: 14px;
  padding-top: 5%;
}
.row{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: center;
 align-items: center;
 height: 90vh;
}
#contact{
  display: flex;
  width: 80%;
}
.Contact{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0%;
  padding-top: 3%;
}
.column1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
   margin-left: -6%;
}
.ContainerFooter{
  margin-top: 0%;
  }
 #logoFooterimg{
  width: 20%;
}
}